<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* Styling untuk Navbar */
    #mainNavbar {
      background-color: #451952;
      /* Warna gelap untuk navbar */
    }

    #mainNavbar .navbar-brand,
    #mainNavbar .nav-link {
      color: white;
      margin: 0 15px;
      /* Menambahkan margin kiri dan kanan untuk setiap item */
    }

    /* Styling untuk judul halaman */
    h1 {
      font-size: 32px;
      font-weight: bold;
      margin: 20px 0;
      color: #343a40;
    }

    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <a href="#" class="navbar-brand">SHOPPING LIST</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">ABOUT</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">CATEGORY</a>
        </li>
      </ul>
    </div>
  </nav>
  {% extends 'base.html' %}

  {% block content %}
  <h1>Shopping List Page</h1>

  <h5>Name:</h5>
  <p>{{name}}</p>
  <h5>Class:</h5>
  <p>{{class}}</p>

  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
    <tr>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.date_added}}</td>
      <td>
        <a href="{% url 'main:edit_product' product.pk %}">
          <button>
            Edit
          </button>
        </a>
        <a href="{% url 'main:delete_product' product.pk %}">
          <button>
            Delete
          </button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <br />

  <h5>Sesi terakhir login: {{ last_login }}</h5>

  <a href="{% url 'main:create_product' %}">
    <button>
      Add New Product
    </button>
  </a>

  <a href="{% url 'main:logout' %}">
    <button>
      Logout
    </button>
  </a>
  {% endblock content %}
</body>

</html>